APP_NAME=BreeLife
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBAPP_URL=

PAYMENT_PROVIDER=mock
PAYMENT_PUBLIC_KEY=
PAYMENT_SECRET_KEY=

YANDEX_GPT_API_KEY=
YANDEX_GPT_FOLDER_ID=
